.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(144, 255, 144);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.77);
    margin: 0 10px;
    padding: 10px 50px;
}

.bgVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}

.titleApp {
    color: rgb(144, 255, 144);
    margin: 20px 0 30px 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.titleForm {
    margin-bottom: 15px;
    color: rgb(144, 255, 144);
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

.registration {
    display: flex;
    flex-wrap: wrap;
}

.registration p {
    color: rgb(144, 255, 144);
    margin-right: 5px;
}

.registration a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.imgPrev {
    background-image: url('assets/images/picApp.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
