services:
  db:
    image: postgres:15-alpine
    container_name: my_postgres_db
    restart: always
    environment:
      POSTGRES_USER: Aliaksandr
      POSTGRES_PASSWORD: 4861
      POSTGRES_DB: my_database
    ports:
      - "5432:5432"
    volumes:
     - ./db/data:/var/lib/postgresql/data:z
     - ./db/init:/docker-entrypoint-initdb.d:z